env/*
*.db
*.png
*.pyc
*.egg-info
*.DS_Store
*.swp
templates/*
dist/*
tilemaker/server/static/*
*.fits
*.pem
*package-lock*
*.json
build/*
tileviewer
uv.lock
.python-version

# Allow screenshot for JOSS paper
!paper/so_mapviewer.png