[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
exclude = ["templates"]

[tool.setuptools.package-data]
tilemaker = ["server/static/*", "server/static/assets/*"]

[project]
name = "tilemaker"
version = "0.0.1a6"
requires-python = ">=3.11"
dependencies = [
    "sqlmodel",
    "pydantic-settings",
    "numpy",
    "pydantic_numpy",
    "fastapi",
    "uvicorn",
    "matplotlib",
    "astropy",
    "pixell",
    "fastapi-cache2",
    "typer"
]

[project.scripts]
tilemaker = "tilemaker.client.cli:main"

[tool.ruff.lint]
extend-select = ["I"]
